body {
	background: #111
}

::-webkit-scrollbar {
	background: #151515;
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background: #252525;
	border-radius: 15%;
}

::-webkit-scrollbar-thumb:hover {
	background: #303030;
}

.navbar {
	transition: all .15s;
}

.main-header {
	height: 100vh;
	background-repeat: no-repeat;
}

.main-header img {
	filter: blur(5px) brightness(15%);
	position: absolute;
	height: 100vh;
	width: 100%;
}

.header-container {
	padding: 5%;
}

.normalize-modal {
	border-radius: 0% !important;
}

.project {
	width: 100%;
}

.transparent-navbar {
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: none;
	background-color: #0000 !important;
}

.project-col {
	padding-left: 30px !important;
}

.project-col h1, .project-col p {
	margin-bottom: 20px;
}

.project-button {
	display: inline-block;
	box-shadow: 0px 0px 4px #0004;
	margin-right: 6px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	color: #222 !important;
	background-color: #fff;
}

.project-button:hover {
	box-shadow: 0px 0px 6px #000a;
}

.project-button i {
	font-size: 20px;
	margin: 10px;
}

.modal-close {
	width: 48px;
	height: 48px;
	margin-top: 20px;
	margin-bottom: 64px;
	position: relative;
	left: 90%;
}

.modal-close i {
	text-shadow: 0px 0px 1px #0006;
	transition: all .15s;
	font-size: 30pt;
	cursor: default;
}

.modal-close:hover i {
	font-size: 26pt;
	margin-top: 2pt;
	color: #fbb;
	transition: all .15s;
}

.modal-content {
	background: #0000;
	border-style: none;
}

.modal-content p {
	color: #ddd;
	font-size: 15pt;
}

.project-desc {
	margin-top: 128px;
	text-align: initial;
	padding: 10%;
}

.project-desc p {
	font-size: 22pt;
	font-style: bold;
}

.modal-content img {
	margin-bottom: 20px;
	border-color: #ddd;
	border-style: solid;
	margin: auto;
	width: 42% !important;
	box-shadow: none !important;
}

.projects a {
	color: #fff;
	text-decoration: none;
	outline: none;
}

.projects div {
	border-radius: 5%;
	padding: 5px;
}

.projects img {
	box-shadow: 0px 0px 5px #111;
	border-radius: 100%;
	width: 160px;
	margin-bottom: 15px;
}

.contact-form {
	max-width: 700px;
}
