:root {
  /* Override default Bootstrap variables */
  --bs-body-color: #fff;
  --bs-dark-rgb: 17, 17, 17;
  --bs-font-sans-serif: "Roboto", sans-serif;

  /* Firefox scrollbars */
  scrollbar-width: thin;
  scrollbar-color: #252525 #151515;
}

::-webkit-scrollbar {
  background: #151515;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #252525;
  border-radius: 2px;
}

.contact-section {
  width: 100%;
}

::-webkit-scrollbar-thumb:hover {
  background: #303030;
}

.section-title {
  font-weight: 500;
}

.navbar {
  transition: all 0.5s;
}

.bigger {
  font-size: 40pt;
}

.full-height {
  min-height: 100vh;
}

#main-header-bg {
  background-color: #232741;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.projects-bg {
  background-color: #2c2b31;
}

.project {
  width: 100%;
  margin: 0;
}

.project-desc>ul {
  font-size: 15pt;
}

.transparent-navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #0000 !important;
}

.mobile-navbar {
  background-color: #111 !important;
}

.navbar-brand {
  opacity: 0.55;
  transition: opacity .15s ease-in-out;
}

.navbar-brand:hover {
  opacity: 0.75;
}

.project-col {
  padding-left: 30px;
  padding-right: 30px;
}

.project-col h1,
.project-col p {
  margin-bottom: 20px;
}

.project-button {
  display: inline-block;
  box-shadow: 0 0 4px #3332;
  margin-right: 6px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #222 !important;
  background-color: #fff;
}

.project-button:hover {
  box-shadow: 0 0 5px #3339;
}

.project-button>svg {
  font-size: 20px;
  margin: 10px;
}

.modal-close {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 64px;
  position: relative;
}

.modal-close>i {
  text-shadow: 0 0 1px #0006;
  transition: all 0.15s;
  font-size: 30pt;
  cursor: default;
}

.modal-close:hover>i {
  color: #fbb;
  transition: all 0.15s;
}

.main-btn:not(:hover)>i {
  display: inline-block;
  color: var(--bs-body-color);
}

.modal-content {
  background: #0000;
  border-style: none;
}

.modal-content p {
  color: #eee;
  font-size: 15pt;
}

.project-desc {
  text-align: initial;
}

.project-desc p {
  font-size: 22pt;
  font-weight: bolder;
}

.modal-content img {
  margin-bottom: 20px;
  border-color: #eee;
  border-style: solid;
  width: 42% !important;
}

a[href]:not(.nav-link):not(a[href^="#"]) {
  color: #72a4f7;
  text-decoration: none;
}

a[href]:hover:not(.nav-link):not(a[href^="#"]) {
  color: #5a95f5;
}

.projects img {
  box-shadow: 0 0 5px #3339;
  border-radius: 100%;
  width: 160px;
  margin-bottom: 15px;
}

div.projects>div>a[href] {
  color: var(--bs-body-color);
  text-decoration: none;
}

.footer-copyright {
  background-color: rgba(0, 0, 0, 0.2);
}
