.main-header {
	height: 100vh;
	background-repeat: no-repeat;
}

.main-header img {
	filter: blur(5px) brightness(20%);
	position: absolute;
	height: 100vh;
	width: 100%;
}

.header-container {
	padding: 5%;
}

.projects a {
  color: #fff;
  text-decoration: none;
  outline: none;
}

.projects div {
  border-radius: 5%;
  padding: 5px;
}

.projects img {
  box-shadow: 0px 0px 5px #111;
  border-radius: 100%;
  width: 160px;
  margin-bottom: 15px;
}