.bg-dark,
body {
  background: #111 !important;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  background: #151515;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #252525;
  border-radius: 2px;
}

:root {
  scrollbar-width: thin;
  scrollbar-color: #252525 #151515;
}

.contact-section {
  width: 100%;
  margin-left: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #303030;
}

.section-title {
  font-weight: 500;
}

.navbar {
  transition: all 0.5s;
}

.bigger {
  font-size: 40pt;
}

.main-btn {
  display: inline-block;
  color: white;
  outline: none;
}

.main-header {
  height: 100vh;
  background-repeat: no-repeat;
}

#main-header-bg {
  background-color: #232741;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.projects-bg {
  background-color: #2c2b31;
}

.header-container-5 {
  padding: 5%;
  padding-top: 10vh;
}

.header-container-10 {
  padding: 10%;
  padding-top: 10vh;
}

.normalize-modal {
  border-radius: 0% !important;
}

.project {
  width: 100%;
}

.project-desc > ul {
  font-size: 15pt;
}

.transparent-navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: none;
  background-color: #0000 !important;
}

.mobile-navbar {
  background-color: #222 !important;
}

.project-col {
  padding-left: 30px !important;
}

.project-col h1,
.project-col p {
  margin-bottom: 20px;
}

.project-button {
  display: inline-block;
  box-shadow: 0 0 4px #3332;
  margin-right: 6px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #222 !important;
  background-color: #fff;
}

.project-button:hover {
  box-shadow: 0 0 5px #3339;
}

.project-button i {
  font-size: 20px;
  margin: 10px;
}

.modal-close {
  width: 48px;
  height: 48px;
  margin-top: 20px;
  margin-bottom: 64px;
  position: relative;
  left: 90%;
}

.modal-close i {
  text-shadow: 0 0 1px #0006;
  transition: all 0.15s;
  font-size: 30pt;
  cursor: default;
}

.modal-close:hover i {
  color: #fbb;
  transition: all 0.15s;
}

.modal-content {
  background: #0000;
  border-style: none;
}

.modal-content p {
  color: #eee;
  font-size: 15pt;
}

.project-desc {
  margin-top: 128px;
  text-align: initial;
  padding: 10%;
}

.project-desc p {
  font-size: 22pt;
  font-weight: bolder;
}

.modal-content img {
  margin-bottom: 20px;
  border-color: #eee;
  border-style: solid;
  width: 42% !important;
  box-shadow: none !important;
}

.projects a {
  color: #fff;
  text-decoration: none;
  outline: none;
}

.projects div {
  border-radius: 15px;
  padding: 5px;
}

.projects img {
  box-shadow: 0 0 5px #3339;
  border-radius: 100%;
  width: 160px;
  margin-bottom: 15px;
}

div#comments {
  border-radius: 10px;
  overflow: hidden;
  line-height: 0;
}
