nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.big {
  font-size: 20px;margin-right: 4px
}

.banner {
  background: url('../images/bg1.jpg');
  padding-top:25vh;
  background-attachment: fixed;
  height: auto;
  color: #FFF
}

.banner.alt {
  background: url('../images/bg-masthead.jpg');
  background-position: center;
  background-attachment: fixed;
  padding-top:40vh;
}

.full-banner {
  height: 100vh;
}

.row-item {
  color: #000;
  text-decoration: none;
}

.row-item img {
  border-radius: 50%;
  width: 160px;
  margin-bottom: 10px;
  outline: none;
}

a {
   outline: 0;
}

.col {
  border-bottom: 20px;
}

.text-center {
  text-align: center;
}

.text-muted a, p, i {
  color: #666;
}

body {
  font-family: Open Sans;
  outline : none;
}

.section-title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.validate, .materialize-textarea {
  color: white;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

::-webkit-scrollbar {width: 8px}
::-webkit-scrollbar-track {background: #FFF}
::-webkit-scrollbar-track:hover {background: #FFF}
::-webkit-scrollbar-track:active {background: #FFF}

::-webkit-scrollbar-thumb {background:#bcbfc2}
::-webkit-scrollbar-thumb:hover {background: #969c9e}
::-webkit-scrollbar-thumb:active {background: #25323a}

@media screen and (max-width: 400px){
  #logo-container {
    font-size: 1.5rem;
    box-align: center;
    font-weight: 700;
  }
  .sidenav-trigger {
    margin-left: 5px !important;
  }
  #tit {
    font-size: 2.8rem;
    font-family: 'BioRhyme';
    font-weight: 200;
    margin-bottom: 0;
  }
  #coiso {
    font-size: 3.6rem;
    font-family: 'BioRhyme';
    font-weight: 900;
    margin-top: 0;
    text-align: center;
  }
  #tit2 {
    font-size: 1.35rem;
    margin-top: 0.5rem;
  }
  #baixo {
    margin-top: 10rem;
    background-color: white;
    color: #25323a !important;
    border-radius: 120px;
  }
  #tit3 {
    font-family: 'Cabin';
    font-size: 3rem;
  }
  #baixo2{
    margin-top: 2rem;
    border: #FFF 2px solid;
    border-radius: 120px;
  }
  .item {
    margin-left: 5.5rem;
  }
  .item:first-child{
    margin-top: 5em;
  }
  #tit4 {
    font-family: 'Cabin';
    font-size: 4rem;
    margin-left: 1.2em;
  }
  #it {
    font-family: 'Cabin';
    font-size: 1.5rem;
    font-weight: 600;
  }
  #it:first-child {
    margin-top: 1em;
  }
}
/* CHANGE */