nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.big {
  font-size: 20px;margin-right: 4px
}

.banner {
  background: url('../images/bg1.jpg');
  padding-top:25vh;
  background-attachment: fixed;
  height: auto;
  color: #FFF
}

.banner.alt {
  background: url('../images/bg-masthead.jpg');
  background-position: center;
  background-attachment: fixed;
  padding-top:40vh;
}

.full-banner {
  height: 100vh;
}

.row-item {
  color: #000;
  text-decoration: none;
}

.row-item img {
  border-radius: 50%;
  width: 160px;
  margin-bottom: 10px;
  outline: none;
}

a {
   outline: 0;
}

.col {
  border-bottom: 20px;
}

.text-center {
  text-align: center;
}

.text-muted a, p, i {
  color: #666;
}

body {
  font-family: Open Sans;
  outline : none;
}

.section-title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.validate, .materialize-textarea {
  color: white;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

::-webkit-scrollbar {width: 8px}
::-webkit-scrollbar-track {background: #FFF}
::-webkit-scrollbar-track:hover {background: #FFF}
::-webkit-scrollbar-track:active {background: #FFF}

::-webkit-scrollbar-thumb {background:#bcbfc2}
::-webkit-scrollbar-thumb:hover {background: #969c9e}
::-webkit-scrollbar-thumb:active {background: #25323a}
