---
import "@fontsource/fira-code/400.css";
import "@fontsource/fira-code/700.css";
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="theme-color" content="#212121" />

  <link rel="icon" href="img/favicon.svg" type="image/svg+xml" />
  <link rel="icon" href="img/favicon.png" type="image/png" />

  <title>Not found | Amano Team</title>
</head>

<body>
  <p class="title">404</p>
  <p class="description">Looks like this page does not exist</p>
</body>

</html>

<style>
html {
  height: 100%;
}

body {
  background-color: #111;
  color: #dcdcdc;
  font-family: "Fira Code", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

a[href] {
  color: #87cefa;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p.title {
  font-size: 11.7rem;
  font-weight: bold;
  margin: 0;
}

p.description {
  font-weight: bold;
  margin: 0;
}

</style>
