---
import "@fontsource-variable/roboto-flex";

import Layout from "../layouts/Layout.astro";

const response = await fetch("https://tio.run/static/3fbdee7a34cd8d340fe2dbd19acd2391-languages.json");
const json = await response.json();
---

<Layout title="tio.run languages list">
  <ul>
    {Object.keys(json).map((item) => <li><code>{item}</code></li>)}
  </ul>
</Layout>
