body {
  background-color: #111;
  color: #eee;
  font-family: monospace;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
}

a[href] {
  color: #b7c3fa;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h5 {
  font-size: 1.25rem;
}
