---
import { Picture } from "astro:assets";
import Layout from "./Layout.astro";

import HeaderLight from "../img/header_light.svg";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script>
  const navClasses = document.querySelector("div#mainNav") as HTMLDivElement;

  const drawer = document.querySelector("input#my-drawer") as HTMLInputElement;

  let transparentNavbar = true;

  const updateNavbarState = (_e: Event) => {
    if (window.scrollY > 0 && transparentNavbar) {
      transparentNavbar = false;
      navClasses.classList.add("bg-neutral-900");
    } else if (window.scrollY == 0 && !transparentNavbar) {
      transparentNavbar = true;
      navClasses.classList.remove("bg-neutral-900");
    }
  };

  // Collapse the navbar when page loaded or scrolled down
  window.addEventListener("load", updateNavbarState);
  window.addEventListener("scroll", updateNavbarState);

  const closeDrawer = () => {
    drawer.checked = false;
  };

  const ul = document.querySelector("ul#mobile-menu") as HTMLUListElement;

  ul.querySelectorAll("li").forEach((el) => {
    el.addEventListener("click", closeDrawer);
  });
</script>

<Layout title={title}>
  <div class="drawer">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
      <!-- Navbar -->
      <div id="mainNav" class="navbar fixed top-0 p-4 transition-colors duration-500">
        <div class="container mx-auto justify-between items-center flex">
          <ul class="menu menu-horizontal p-0">
            <a href="#top" class="btn btn-ghost px-0"
              ><Picture
                src={HeaderLight}
                alt="Amano logo"
                class="navbar-brand"
              /></a
            >
          </ul>
          <label for="my-drawer" class="btn btn-square btn-ghost lg:hidden">
            <i class="fas fa-bars"></i>
          </label>
          <div class="hidden lg:flex">
            <ul class="menu menu-horizontal p-0">
              <li><a href="#top">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#projects">Projects</a></li>
              <li><a href="#contact">Contact</a></li>
              <li>
                <a
                  href="https://github.com/AmanoTeam"
                  title="GitHub"
                  class="tooltip"
                  target="_blank"
                >
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://gitlab.com/AmanoTeam"
                  title="GitLab"
                  class="tooltip"
                  target="_blank"
                >
                  <i class="fab fa-gitlab"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://t.me/s/AmanoTeam"
                  title="Telegram"
                  class="tooltip"
                  target="_blank"
                >
                  <i class="fab fa-telegram-plane"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <slot />
    </div>
    <div class="drawer-side">
      <label for="my-drawer" class="drawer-overlay"></label>
      <ul
        id="mobile-menu"
        class="menu p-4 w-80 bg-neutral-800 h-full text-base-content"
      >
        <!-- Sidebar content here -->
        <li><a href="#top">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
        <li>
          <a href="https://github.com/AmanoTeam" target="_blank">
            <i class="fab fa-github"></i>
            <span class="ml-2">GitHub</span>
          </a>
        </li>
        <li>
          <a href="https://gitlab.com/AmanoTeam" target="_blank">
            <i class="fab fa-gitlab"></i>
            <span class="ml-2">GitLab</span>
          </a>
        </li>
        <li>
          <a href="https://t.me/s/AmanoTeam" target="_blank">
            <i class="fab fa-telegram-plane"></i>
            <span class="ml-2">Telegram</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</Layout>

<style>
  .navbar-brand {
    opacity: 0.55;
    width: 85px;
    height: 40px;
    padding: 8px;
  }
</style>
