---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import svgFavicon from "../img/favicon.svg";
import pngFavicon from "../img/favicon.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="theme-color" content="#111111" />

    <link rel="icon" href={svgFavicon.src} type="image/svg+xml" />
    <link rel="icon" href={pngFavicon.src} type="image/png" />

    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
